/* ######################################### /
/               MENU/NAVIGATION             /
/ ######################################### */

/* Style menu */
.dropbtn { 
    background-image: url("assets/Button.png");
    background-color: #ffffff00;
    background-size: cover;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    margin: 30px;
}

/* hover menu caché */
.dropbtn:hover, .dropbtn:focus { 
    background-color: #ffffff00;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff00;
    min-width: 10px;
    box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px) saturate(149%);
    -webkit-backdrop-filter: blur(4px) saturate(149%);
    background-color: rgba(138, 211, 240, 0.135);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-family: 'IM Fell DW Pica', serif;
}

.dropdown-content .boutton {
    color: rgb(0, 0, 0);
    padding: 8px 0px;
    text-decoration: none;
    display: block;
}

.dropdown-content .boutton:hover {
    color: rgb(73, 199, 163);
    text-shadow: -1px 1px 10px rgba(112, 175, 248, 0.808);
}

.show {
    display:block;
    margin: 0 0px -180px 0;
}

/* Style des bouttons de changement de page */
.preNext {
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
    column-gap: 80px;
}

.previous {
    margin: 0px;
    height: 15px;
    width: 30px;
    background-image: url("assets/flecheGauche.png");
    background-color: #ffffff00;
    background-size: cover;
    border-radius: 15px;
}

.next {
    margin: 0px;
    height: 15px;
    width: 30px;
    background-image: url("assets/flecheDroite.png");
    background-color: #ffffff00;
    background-size: cover;
    border-radius: 15px;
}
.dropbtn1 {
    display: none;
}

@media screen and (max-width: 768px) {
    .dropbtn1 {
        display: flex;
        background-image: url("assets/Button.png");
        background-color: #ffffff00;
        background-size: cover;
        height: 50px;
        width: 50px;
        border: none;
        cursor: pointer;
        margin: 30px;
   }
    .preNext {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
        width: 100vw;
    }
    .dropbtn { 
        display: none;
    }
    .dropbtn1:hover, .dropbtn1:focus { 
        background-color: #ffffff00;
    }
}
       