/* S'applique à l'ensemble du header */
.top {
    height: 60px;
    background-color: #C3F3FF;
    margin: -1px;
    padding: 0px;
}

.header {
    background-color: rgba(255, 255, 255, 0);
    position: static;
    /*Avant : position: sticky; */
    padding-top: 0px;
    width:100%;
}

/* S'applique au logo LaMainLourde du header */
.imagenav {
    position: absolute;
    top: -5px;
    /* Avant top : 10px; */
    left: 20px;
    margin: 5px;
    height: 230px;
    /* Avant height: 140px;*/
    rotate: -15deg;
}

.imagenav:hover {
    animation: shake 0.8s;

    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* S'applique au mot COCKTAIL du header */
.navtitle1 {
    position: absolute;
    top: 5%;
    left: 50%;
    /* à 10%/50% du parent référent */
    transform: translate(-50%, -50%);
    /* décalage de 50% de sa propre taille */
    font-family: "Fascinate Inline";
    font-size: 32px;
    color: #636262;
}

/*  S'applique au mot MOJITO du header */
.navtitle2 {
    position: absolute;
    top: 20%;
    left: 33%;
    transform: translate(-50%, -50%);
    font-family: "Girassol";
    font-size: 80px;
    color: #3f3f3f;
}

/*  S'applique à l'image déco Verre de mojito à droite du header */
.navdeco {
    position: absolute;
    display: flex;
    top: 40px;
    right: 35px;
    height: 250px;
    rotate: 10deg;
}

/* RESPONSIVE FORMAT TABLETTE */

@media screen and (max-width: 768px) {
    .imagenav {
        top: -5px;
        left: 10px;
        margin: 10px;
        height: 125px;
    }

    .navtitle1 {
        display: none;
    }

    .navtitle2 {
        display: none;
    }

    .navdeco {
        top: 15px;
        right: 10px;
        height: 130px;
    }

}

/* RESPONSIVE FORMAT MOBILE */

@media screen and (max-width: 320px) {
    .imagenav {
        top: -5px;
        left: 0px;
        margin: 10px;
        height: 70px;
    }

    .navtitle1 {
        display: none;
    }

    .navtitle2 {
        display: none;
    }

    .navdeco {
        bottom: 20px;
        right: -5px;
        height: 90px;
    }

}