
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  ROOT  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
:root {
    height: 100vh;
    --heightBody: 100%;
    --justifyContentBody: space-between;
    /*XXXXXXXXXXXXXXXXXxxxxXXXXXX  Variables header  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    --imageNavHeight:200px;
    --marginTopCocktail: 0.4em;
    --marginLeftCocktail:0.2em;
    --fontSizeCocktail: 4em;
    --fontSizeMojito: 3em;
    --navDecoHeight:250px;
    --justifyContentWave: space-between;
    /*XXXXXXXXXXXXXXXXXXXXXXX  Variables carousel  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    --widthCards: 300px;
    --sliderHeight: 220px;
    --containerWidth: 300px;
    --containerHeight: 250px;
    /*XXXXXXXXXXXXXXXXXXXXXXX  Variables ustensiles  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    --widthUstensilesPic: 200px;
    --flexDirectionUstensiles: row;
    --marginUstensileBottom: 0px;
    --marginUstensileTop:0px;
    --marginMiddleUstensileTop: 0px;
    --marginMiddleUstensileBottom: 0px;
     /*XXXXXXXXXXXXXXXXXXXXXXX  Variables ustensiles  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
     --fontSizeTitle: 40px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  General  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: var(--justifyContentBody);
    background-color: white;
    height: var(--heightBody);
    font-family: 'Urbanist', sans-serif;
    margin: 0px
}

.deco{
    height: 80px;
    width: 180px;
    margin-bottom: 10px;
}
#blocMain{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    /* max-width: var(--containerWidth);
    max-height: var(--containerHeight); */
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  Header  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* header {
   width: 100%;
} */
/* .wave{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: var(--justifyContentWave);


}
svg{
    position: absolute;
    z-index: 1;
}
.imagenav {
    position: relative;
    z-index:2;
    height: var(--imageNavHeight);
    rotate: -15deg;
}
.imagenav:hover {
    animation: shake 0.8s;

    animation-iteration-count: infinite;
}
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
.waveItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wave :nth-child(2){
    justify-content: space-between;
}
.navtitle1 {
    margin-top: var(--marginTopCocktail);
    margin-left: var(--marginLeftCocktail);
    position: relative;
    z-index:2;
    font-family: "Fascinate Inline";
    font-size: var(--fontSizeCocktail);
    color: black;
}

.navtitle2 {
    position: relative;
    z-index:2;
    font-family: "Girassol";
    font-size: var(--fontSizeMojito);
    color:black;
}

.navdeco {
    margin-top: 30px;
    position: relative;
    z-index:2;
    height: var(--navDecoHeight);
    rotate: 10deg;
} */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  Carousel  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.bloc-carousel{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--containerWidth);
    max-height: var(--containerHeight);
    z-index: 2;
}
.titre-carousel{
    font-family:'IM Fell DW Pica', serif;
    font-weight: normal;
    font-size: var(--fontSizeTitle);
    margin-top: 0px;/*var(--marginMiddleUstensileTop);*/
    margin-bottom: 0px;/*var(--marginUstensileBottom);*/
    
}
.slider{
    height: var(--sliderHeight);
}
input {
    display: none;
}
.container {
    width: 100%;
    height: 100%;
    /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Cards container sizing XXXX XXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    max-width: var(--containerWidth);
    max-height: var(--containerHeight);
    /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    display: flex;
    transform-style: preserve-3d; 

}
.cards {
    position: relative;
    /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Cards sizing  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    width: var(--widthCards);   
    /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
    /*margin-bottom: 20px;*/
    perspective: 1000px;
    transform-style: preserve-3d;
    border-radius: 5px;
}
.cards label {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}
.cards .card{ 
    position: relative;
    height: 100%;   
}
.card .image{
    display: flex;
    justify-content: space-between;
}
.card .image img{
    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(85, 84, 84, 0.45);
    width: 100%;
    height: 220px;
    object-fit: cover;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXX  trigger move by click on radio button  XXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide6,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3,
#s6:checked~.cards #slide4 {
    box-shadow: 0 15px 35px 0 rgba(85, 84, 84, 0.45);
    transform: translate3d(-150%, 30px, -220px);
}
#s1:checked~.cards #slide6,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4,
#s6:checked~.cards #slide5 {
    box-shadow: 0 15px 35px 0 rgba(85, 84, 84, 0.45);
    transform: translate3d(-85%, 0, -120px);
}
#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5,
#s6:checked~.cards #slide6 {
    box-shadow: 0 15px 35px 0 rgba(85, 84, 84, 0.45);
    transform: translate3d(0, 0, 0);
}
#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide6,
#s6:checked~.cards #slide1 {
    box-shadow: 0 15px 35px 0 rgba(85, 84, 84, 0.45);
    transform: translate3d(85%, 0, -150px);
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide6,
#s5:checked~.cards #slide1,
#s6:checked~.cards #slide2 {
    box-shadow: 0 15px 35px 0 rgba(85, 84, 84, 0.45);
    transform: translate3d(150%, 30px, -220px);

}
#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide6,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2,
#s6:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(85, 84, 84, 0.45);
    transform: translate3d(150%, 30px, -220px);

}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  USTENSILES  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.bloc-ustensiles{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:  150px 0 0 0;
    
}
.titre-ustensile{
    font-family:'IM Fell DW Pica', serif;
    font-weight: normal;
    margin-top: var(--marginUstensileTop);
    margin-bottom: var(--marginUstensileBottom);
    font-size: var(--fontSizeTitle);
}
.container-ustensiles {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: var(--flexDirectionUstensiles);
    justify-content: center;
    border-radius: 5px;  
}
.container-ustensiles>img {
    width: var(--widthUstensilesPic);
    margin-top: var(--marginMiddleUstensileTop);
    margin-bottom: var(--marginMiddleUstensileBottom);
    margin-left: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
    border-radius: 5px;
}
.container-ustensiles :first-child{
    margin-top: var(--marginUstensileTop);
    margin-left: 0px;
}
.container-ustensiles :last-child{
    margin-bottom: var(--marginUstensileBottom);
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  Footer  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 10%;
    width: 100%;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  Dropdown menu   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.dropbtn {
    background-image: url("assets/Button.png");
    background-size: cover;
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    margin: 15px;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #ffffff;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content .boutton {
    color: rgb(0, 0, 0);
    padding: 8px 0px;
    text-decoration: none;
    display: block;   
}
.dropdown-content .boutton:hover {
    background-color: #f1f1f1;
}
.show {display:block;
    margin: 0 0px 169px 0;
}
.preNext {
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
    column-gap: 80px;   
}
.previous {
    margin: 0px;
    height: 15px;
    width: 30px;
    background-image: url("assets/flecheGauche.png");
    /*background-color: #C3F3FF;*/
    background-size: cover;
    border-radius: 15px;
}
.next {
    margin: 0px;
    height: 15px;
    width: 30px;
    background-image: url("assets/flecheDroite.png");
    /*background-color: #C3F3FF;*/
    background-size: cover;
    border-radius: 15px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  Media queries  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media screen and (max-width: 1026px) {
    .navtitle1 {
        --fontSizeCocktail:3em;
        --marginTopCocktail: 1em;
        --marginLeftCocktail:0.2em;
    }
    .navtitle2 {
        --fontSizeMojito:2em;  
    }
    .container {
        --containerWith:220px;
        --containerHeight:220px; 
    }
    .cards {
        --widthCards:220px
    }
    .container-ustensiles>img {
        --widthUstensilesPic:165px;
    }
}
@media screen and (max-width: 768px) {
    .navtitle1 {
        --fontSizeCocktail:2em;
        --marginTopCocktail: 2em;
        --marginLeftCocktail:0.2em;
    }
    .navdeco{
        --navDecoHeight:200px;
    }
    .container {
        --containerWith:165px;
        --containerHeight:165px; 
    }
    .cards {
        --widthCards:165px
    }
    .container-ustensiles>img {
        --widthUstensilesPic: 120px;
    }
}
/*@media screen and (min-width: 481px) and (max-width: 600px) {
    body {
        --heightBody: fit-content;
        --justifyContentBody: space-evenly;
    }
    .navtitle1{
        visibility: collapse;
    }
    .navtitle2{
        visibility: collapse;
    }
    .navdeco{
        visibility: collapse;
    }
    .bloc-ustensiles{
        margin-top: 74px;
    }
    .container-ustensiles {
        --widthUstensilesPic: 300px;
        --flexDirectionUstensiles: column;
        align-items: center;
    }
    .container-ustensiles>img {
        --widthUstensilesPic: 300px;
        --marginMiddleUstensileTop: 25px;
        --marginMiddleUstensileBottom:25px;
    }  
    .container-ustensiles :last-child{
        --marginUstensileBottom: 50px;
    }
}*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        --heightBody: fit-content;
        --justifyContentBody: space-evenly;
        align-items: center;
    }
    .imagenav{
        --imageNavHeight:65px;
        margin-left: 20px;
    }
    .navtitle1{
        visibility: collapse;
    }
    .navtitle2{ 
        visibility: collapse;
    } 
    .navdeco{
        --navDecoHeight:70px;
        --justifyContentWave: center;
     } 
    .container{
        --widthContainer: 200px;
    }
    .bloc-ustensiles{
        margin-top: 125px;
    }
    .container-ustensiles {
        --flexDirectionUstensiles: column;
        align-items: center;
    }
    .container-ustensiles>img {
        --widthUstensilesPic: 280px;
        --marginMiddleUstensileTop: 25px;
        --marginMiddleUstensileBottom:25px;
    }
    .container-ustensiles :last-child{
        --marginUstensileBottom: 50px;
    }
}    