@import
url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Girassol&display=swap%27');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    font-family: 'IM Fell DW Pica', serif;
    background-image: url('assets/mentheArrierePlan.png');
    background-repeat: no-repeat;
    background-position: -350px 500px;
}

/*Header*/
.top {
    height: 60px;
    background-color: #C3F3FF;
}

.header {
    background-color: rgba(255, 255, 255, 0);
    top: 0px
}

.imagenav {
    position: absolute;
    top: 20px;
    left: 30px;
    margin: 10px;
    height: 100px;
}

.navtitle1 {
    position: absolute;
    top: 10%;
    left: 50%;
    /* à 10%/50% du parent référent */
    transform: translate(-50%, -50%);
    /* décalage de 50% de sa propre taille */
    font-family: "Fascinate Inline";
    font-size: 32px;
    color: #3f3f3f;
}

.navtitle2 {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-family: "Girassol";
    font-size: 60px;
    color: #3f3f3f;
}

.navdeco {
    position: absolute;
    bottom: 470px;
    right: 15px;
    height: 200px;
}

@media screen and (max-width: 768px) {
    .imagenav {
        position: absolute;
        top: 5px;
        left: 10px;
        margin: 10px;
        height: 80px;
    }

    .navtitle1 {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
    }

    .navtitle2 {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
        font-size: 36px;
    }

    .navdeco {
        position: absolute;
        bottom: 20px;
        right: 15px;
        height: 150px;
    }

}


@media screen and (max-width: 320px) {
    .imagenav {
        position: absolute;
        top: 5px;
        left: 10px;
        margin: 10px;
        height: 45px;
    }

    .navtitle1 {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
    }

    .navtitle2 {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
        font-size: 24px;
    }

    .navdeco {
        position: absolute;
        bottom: 20px;
        right: 15px;
        height: 100px;
    }

}

/*Titre page*/
h1 {
    color: black;
    font-family: 'IM Fell DW Pica', serif;
    text-align: center;
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

/*Etapes*/

.etapes {
    font-family: 'IM Fell DW Pica', serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    opacity: 2%;
    filter: blur(10px);
}

.etapes:hover {
    filter: blur(0);
    opacity: 100%;
    transition: 2s;
}

.etape {
   align-items: center;
   padding: 50px;
   display: flex;
   justify-content: space-around;
   /*filter: blur(1px);
   transform: scale (1.4, 1.4);
   transition: all 3s ease-in;
   visibility: visible;*/
}

/*Blocs images*/
div.firstImg {
    height: 200px;
    width : 180px;
    background-color: brown;
    margin: 30px;
}

div.secondImg {
    height: 200px;
    width: 180px;
    background-color: brown;
    margin: 30px;
}

div.thirdImg {
    height: 200px;
    width: 180px;
    background-color: brown;
    margin: 30px;
}

article {
    max-width: 65ch;
    background-color: #ffffff;
    border: 0.2ch solid #ffffff;
    /*backdrop-filter: blur(25px) saturate(69%);
    -webkit-backdrop-filter: blur(25px) saturate(69%);
    background-color: rgba(195, 243, 255, 0.28);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);*/
    padding: 30px;
}

/*Version mobile*/
@media screen and (max-width: 600px) {
    .etapes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.firstImg {
        display: none;
    }
    div.secondImg {
        display: none;
    }
    div.thirdImg {
        display: none;
    }
}