/* *{
    padding: 0;
    margin: 0;
} */
body {
  transition:all 15s;
  filter:blur(0.2rem);
  font-family: sans-serif;
  font-size: 18px;
  padding:0;
  margin: 0; /* supprime la marge du body */
  background-image: url(/assets/mentheArrierePlan.png);
  background-repeat: no-repeat; /* affiche l'image sans répétition */
  background-position: -350px 700px; /* place l'image dans le body */
  /* border: 1px solid black; */
}
body:hover {
  filter:none;
  /* transition-delay: 1s;            */
  /* transition-duration: 3s; */
  /* transition-property:initial; */
}

p{
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(16, 19, 22);
  font-style: italic;
  font-weight: bold;
  padding: 35px;
}

.test {
  /* transition:all 15s; */
  /* filter:blur(0.2rem); */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  font-family: sans-serif;
  font-size: 18px;
  /* margin: 0 30em 0 15em; */
  padding:0 10em 0 10em;
  border: 1px solid #C3F3FF;
  height: auto;
} 
/* .test:hover { */
  /* filter:none; */
  /* transition-delay: 1s;        */
  /* transition-duration: 3s; */
  /* transition-property:initial; */
/* } */
div .lastPage {
  background-color:#C3F3FF;
  display: flex;
  align-items: center;
  width: 50em;
  
}

.rotate1 {
  position: relative;
  top: 40px;
  left: -0px;
  display: flex;
  justify-content: center;
  transform: rotate(-5deg);
  transition: all 0.4s;
  background-color:#C3F3FF;

}


.rotate1:hover {
  transform: rotate(20deg);
}

.rotate2 {
  position: relative;
  top: 40px;
  left: 180px;
  display: flex;
  justify-content: center;
  transform: rotate(-5deg);
  transition: all 0.4s;
  background-color:#C3F3FF
}

.rotate2:hover {
  transform: rotate(20deg);
  
}


.rotate3 {
  display: flex;
  justify-content: center;
  transform: rotate(5deg);
  transition: all 0.4s;
  background-color:#C3F3FF;
  margin-top:100px;
}

.rotate3:hover {
  transform: rotate(-10deg);
}

.rotate4 {
  display: flex;
  justify-content: center;
  transform: rotate(340deg);
  transition: all 2.4s;
  background-color:#C3F3FF
}

.rotate4:hover {
  transform: rotate(10deg);
}
#picture1{
  position:relative;
  top: 2em;
  right: 5em;
  width: 0%;
  height: 20%;
  display: flex;
  justify-content:center;
  transform: rotate(-15deg);
  transition: all 0.4s;
}
#picture2{
  position: relative;
  top: 5em;
  left: 24em;
  width: 0%;
  height: 12em;
  display: flex;
  justify-content: center;
  transform: rotate(275deg);
  transition: all 0.4s;
  }


#picture3{

  top: 4em;
  right: 10em;
  width: 0.5em;
  height: 10em;
  display: flex;
  /* justify-content: flex-end; */
  transform: rotate(45deg);
  transition: all 0.4s;
}

#picture4{
  position: relative;
  top: 1em;
  left: 20em;
  width: 0%;
  height: 10em;
  display: flex;
  justify-content: center;
  transform: rotate(-5deg);
  transition: all 0.4s;
}
.witness{

  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  margin:auto;
  font-size: small;
  padding: 10px;

}  

.box{
  padding: .5rem;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: -2px 5px 10px rgb(0 0 0 / 20%);
  height: 10em;
  width: 10em;
  color: #040404;
  padding: .5em;
  margin: 1em;
}
.rotate4 {
  animation: vomit 20s infinite ease-in-out;
}
.rotate2 {
  animation: vomit 20s infinite ease-in-out;

}

@keyframes vomit {
0% {
  transform: rotate(0deg);
}
25% {
  transform: rotate(-10deg);
}
50% {
  transform: rotate(25deg);
}
75% {
  transform: rotate(-25deg);
}
100% {
  transform: rotate(360deg);
}
}

@media screen and (max-width: 768px) {
  div .lastPage{
      width: 80%;
      font-size:1em;
      padding: 25px;
      height: 400px;
      }
  .test{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  }
  .witness{
  display:none;
  }
  p{
      font-size:  25px;
      padding: 25px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      }
  #picture1{
      display: none;
  }
  #picture2{
      display: none;
  }
  #picture3{
      display:none;
  }
  #picture4{
      display:none;
  }
  .rotate2{      
      top: 10px;
      left: 0;
      height: 250px;      
  }
}
@media screen and (max-width: 320px) {
  div .lastPage{
      width: 80%;
      font-size:1em;
      padding: 25px;
      height: 400px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      }
      .test{
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          align-items: center;
          }
  p{
      font-size:  25px;
      padding: 25px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      }
  #picture1{
      display: none;
  }
  #picture2{
      display: none;
  }
  #picture3{
      display:none;
  }
  #picture4{
      display:none;
  }
  .rotate2{      
      top: 10px;
      left: 0;
      height: 250px;      
  }
}